{{ header }}


<div class="container">
  {#<ul class="breadcrumb">#}
  {#  {% for breadcrumb in breadcrumbs %}#}
  {#  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
  {#  {% endfor %}#}
  {#</ul>#}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <input type="hidden" id="last-id" value="" />
    <div id="content" class="{{ class }}">{{ content_top }}
		 <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
		{% if products %}
			{#==== Product Listing ==== #}
            <div class="products-category">
                {% include theme_directory~'/template/soconfig/listing.twig' with {listingType: listingType} %}
            </div>
		{% else %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
		{% endif %}
		{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>


{{ footer }}
<script>
var container = $('.products-list'),
        request_in_progress = false,
        total = $('#total-products').val(),
        previousScroll = 0,
        man = {{ man_id }};
        parent = {{ parent_id }};
$(window).scroll(function( event ) {
    var currentScroll = $(this).scrollTop(),
        page = parseInt( container.find('.product-layout:last-of-type').attr('data-page'));

    if ( currentScroll > previousScroll){
        if( page*12 < total ){
            scrollReaction( page, 'down' );
            
        }
    } 
        
    previousScroll = currentScroll;
})

function scrollReaction( page, direction ){

    var contentHeight = container.outerHeight();
    var current_y = window.innerHeight + window.pageYOffset;
    var last = container.find('.product-layout:last-of-type'); 
       
    if( direction == 'down' ){
             
        if( last.offset().top <= ( current_y + 100 ) ){
           loadMore( page, direction );

        }
    }
}
//needs last to continue loading when filters are set
function loadMore( page, direction ) {
    
    var filter = [], next_page, filterQuery, sortOrder, sortOrderArr, sort, order, minPrice, maxPrice, lastId, total;        

    sortOrder = $('#input-sort').val(), sortOrderArr, sort, order;
    sortOrderArr = sortOrder.split('-');
    sort = sortOrderArr[0];
    order = sortOrderArr[1];
    minPrice = $("#min-price").val();
    maxPrice = $('#max-price').val();
    lastId = $('#last-id').val();
    total = $('#total-products').val()
    $('input[name^=\'filter\']:checked').each(function(element) {
        filter.push(this.value);
    });
        
    if( filter.length ){
        filterQuery = '&filter=' + filter.join(',');
    } 

    if(request_in_progress) { return; }

    if( direction == 'down' ){ 
        if( page * 12 > total ){
            return;
        } else {
            next_page = page + 1;
        }
    }
    request_in_progress = true;  
      
    $.ajax({
        url: 'index.php?route=product/category/load_products',
        type: 'get',
        data: 'path={{path}}&page=' + next_page + '&limit=12&' + filterQuery + "&sort=" + sort + "&order="+order + "&min_pr="+minPrice+"&max_pr="+maxPrice + '&man=' + man + '&parent='+parent + '&last='+lastId,
        dataType: 'json',
        success:function( response ){         
            $('#total-products').val(response.total)
                appendToDiv( container, response.products, next_page ); 
          
                request_in_progress = false;
                $('#last-id').val(response.last)
            }
    });
}

function appendToDiv(div, data, page ) {    

        let html = '';
        for( let ind in data ){
            let product = data[ind];
            
            html += '<div class="product-layout product-grid product-grid-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" data-page="'+ page +'">';
            html += '<div class="product-item-container">';     
            html += '<div class="left-block left-b">';
            html += '<div class="product-image-container">';
            html += '<a href="' + product.href + '" title="' + product.name + '">'; // target="_blank" 09.01.2023
            html += '<img  data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="' + product.thumb + '"  title="' + product.name + '" class="lazyload img-responsive" />';
            html += '</a>';
            html += '</div>';
            html += '</div>';               
            html += '<div class="right-block right-b">';
            html += '<h4><a href="' + product.href + '" >' + product.name + '</a></h4>'; // target="_blank" 09.01.2023
            if ( product.price ){ 
            html += '<div class="price">';
                if ( !product.special ) {
                    html += '<span class="price-new">' + product.price + '</span>';
                }else {   
                    html += '<span class="price-new">' + product.special + '</span> <span class="price-old">' + product.price + '</span>';
                } 
            html += '</div>';
            }                   
            html += '<div class="description">';
            html += '<p>' + product.description + '</p>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
        }
        
       div.append( html )
    }
function replaceProductsList(div, data, page ) {    
        
    let html = '';
    
    for( let ind in data ){
            
        let product = data[ind];
            
        html += '<div class="product-layout product-grid product-grid-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" data-page="'+ page +'">';
        html += '<div class="product-item-container">';     
        html += '<div class="left-block left-b">';
        html += '<div class="product-image-container">';
        html += '<a href="' + product.href + '" title="' + product.name + '">'; // target="_blank" 09.01.2023
        html += '<img  data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="' + product.thumb + '"  title="' + product.name + '" class="lazyload img-responsive" />';
        html += '</a>';
        html += '</div>';
        html += '</div>';               
        html += '<div class="right-block right-b">';
        html += '<h4><a href="' + product.href + '" >' + product.name + '</a></h4>'; // target="_blank" 09.01.2023
        if ( product.price ){ 
        html += '<div class="price">';
            if ( !product.special ) {
                html += '<span class="price-new">' + product.price + '</span>';
            }else {   
                html += '<span class="price-new">' + product.special + '</span> <span class="price-old">' + product.price + '</span>';
            } 
        html += '</div>';
        }                   
        html += '<div class="description">';
        html += '<p>' + product.description + '</p>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
    }
        
    div.html( html )
}
//resets last to 0
$('#content').on('change', '#input-sort', function(e){

    var filter = [], filterQuery, sortOrder, sortOrderArr, sort, order, minPrice, maxPrice;
    $('#last-id').val(0)

    sortOrder = $(this).val();
    sortOrderArr = sortOrder.split('-');
    sort = sortOrderArr[0];
    order = sortOrderArr[1];
    minPrice = $("#min-price").val();
    maxPrice = $('#max-price').val();
        
    $('input[name^=\'filter\']:checked').each(function(element) {
        filter.push(this.value);
    });
    
    if( filter.length ){
        filterQuery = '&filter=' + filter.join(',');
    }       
    $.ajax({
        url: 'index.php?route=product/category/load_products',
        type: 'get',
        data: 'path={{ path }}&page=1&limit=12&' + filterQuery + "&sort=" + sort + "&order="+order + "&min_pr="+minPrice+"&max_pr="+ maxPrice + '&man=' + man + '&parent='+parent+'&last=0',
        dataType: 'json',
        success:function( response ){  
        $('#total-products').val(response.total)
            replaceProductsList( container, response.products, 1 ); 
      
            request_in_progress = false;
            $('#last-id').val(response.last)
        }
    });
})

//resets last to 0
$('.kai-selected-filters').on('click', '.kai-f-selected a', function(e){
    e.preventDefault();
    let val = $(this).parents('.kai-f-selected').data('f');
    $('.checkbox input[value='+val+']').prop('checked', false);
    $(this).parents('.kai-f-selected').remove();
    
                       
    if( !$('.kai-filter').parents('.kai-filter-group').find('input:checked').length ){
        $('.kai-filter').parents('.kai-filter-group').removeClass('filter-group-selected')
    }
    //reload products, set lastId = 0;
    $('#last-id').val(0);
    var filter = [],
    sortOrder = $('#input-sort').val(), sortOrderArr, sort, order, minPrice, maxPrice;
    
    sortOrderArr = sortOrder.split('-');
    sort = sortOrderArr[0];
    order = sortOrderArr[1];
    minPrice = $("#min-price").val();
    maxPrice = $('#max-price').val();

    $('input[name^=\'filter\']:checked').each(function(element) {
          filter.push(this.value);
    });
    
    //filter the profucts
    $.ajax({
        url: 'index.php?route=product/category/load_products',
        type: 'get',
        data: 'path={{ path }}&page=1&limit=12&filter=' + filter.join(',') + "&sort=" + sort + "&order="+order + "&min_pr="+minPrice+"&max_pr="+maxPrice + '&man=' + man + '&parent='+parent+'&last=0',
        dataType: 'json',
        success:function( response ){ 
        
            $('#total-products').val(response.total)
            let html = '', data = response.products, page = 1, f = response.filters;        
            //attach filtered products
            for( let ind in data ){          
                
                let product = data[ind];
        
                html += '<div class="product-layout product-grid product-grid-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" data-page="'+ page +'">';
                html += '<div class="product-item-container">';   
                html += '<div class="left-block left-b">';
                html += '<div class="product-image-container">';
                html += '<a href="' + product.href + '" title="' + product.name + '" >'; // target="_blank" 09.01.2023
                html += '<img  data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="' + product.thumb + '"  title="' + product.name + '" class="lazyload img-responsive" />';
                html += '</a>';
                html += '</div>';
                html += '</div>';       
                html += '<div class="right-block right-b">';
                html += '<h4><a href="' + product.href + '">' + product.name + '</a></h4>'; // target="_blank" 09.01.2023
                if ( product.price ){ 
                    html += '<div class="price">';
                    if ( !product.special ) {
                      html += '<span class="price-new">' + product.price + '</span>';
                    }else {   
                      html += '<span class="price-new">' + product.special + '</span> <span class="price-old">' + product.price + '</span>';
                    } 
                    html += '</div>';
                }         
                html += '<div class="description">';
                html += '<p>' + product.description + '</p>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            $('#last-id').val(response.last)
            $('.products-list').html( html )

            //toggle filters        
            //hide filters that do not belong to filtered products
            
            $('.checkbox.kai-filter').each(function(index, item){
            //check item parent is not selected
                if( !$(item).parents('.kai-filter-group').hasClass('filter-group-selected') ){
                let flag = false;
                
                for(let m in f ){
                    let arr = f[m];
              
                    if( arr.indexOf( $(item).data('filter').toString()) > -1 ) {
                        flag = true;
                        break;              
                    }
                }
                if( !flag ){
                    
                    $(item).addClass('kai-disabled-filter')
                } else {
                    if( $(item).hasClass('kai-disabled-filter')){
                        $(item).removeClass('kai-disabled-filter')
                        
                    }
                }
            }
        });
            }
        });
    });
</script>
