{{ header }}{{ column_left }}
{% set weight_value_row = 0 %}
{% set percent_value_row = 0 %}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
 
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
 
		
		{% if module_tk_checkout_token %} 
					
		{% if shipping_tk_transpress_logged %}
					
		<div class="panel panel-default">
			<div class="panel-body">	
				<form method="post" enctype="multipart/form-data" id="form-transpres" class="form-horizontal">
									
					<div class="form-group">
						<label class="col-sm-3 control-label" for="shipping_tk_transpress_client">Клиент</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="shipping_tk_transpress_client" name="shipping_tk_transpress_client" value="{{ shipping_tk_transpress_client }}"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<a onclick="buttonLogout();" class="btn btn-primary"><span>Изход</span></a>
						</div>
					</div>
					
					<hr>

					<div class="form-group">
						<div class="col-sm-3 text-right"><p><b>Крон за ъпдейт на пратки:</b></p></div>
						<div class="col-sm-9">
							<p>/opt/cpanel/ea-php74/root/usr/bin/php {{ root }}catalog/controller/tk_checkout/cron_transpress_shipping.php {{ web_url }} > /dev/null 2>&1</p>
						</div>
					</div>
				</form>
			</div>
		</div>
					
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
        
        
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-transpres" class="form-horizontal">
					
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-general" data-toggle="tab">Основни</a></li>
						<li><a href="#tab-delivery" data-toggle="tab">Настройки</a></li>
						<li><a href="#tab-price" data-toggle="tab">Ценообразуване</a></li>
						<li><a href="#tab-price_weight" data-toggle="tab">Ценообрзвуане спрямо килограми</a></li>
						<li><a href="#tab-status" data-toggle="tab">Синхронизация със статуси</a></li>
					</ul>
			          
					<div class="tab-content">
			          
						<div class="tab-pane active" id="tab-general">
						
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_status">{{ entry_status }}</label>
								<div class="col-sm-9">
									<select name="shipping_tk_transpress_status" id="shipping_tk_transpress_status" class="form-control">
										{% if shipping_tk_transpress_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_geo_zone_id">{{ entry_geo_zone }}</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_geo_zone_id" name="shipping_tk_transpress_geo_zone_id">
										<option value="0">{{ text_all_zones }}</option>
										{% for geo_zone in geo_zones %}
										{% if geo_zone.geo_zone_id == shipping_tk_transpress_geo_zone_id %}
										<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
										{% else %}
										<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-tax-class">Данъчен клас</label>
								<div class="col-sm-9">
									<select name="shipping_tk_transpress_tax_class_id" id="input-tax-class" class="form-control">
										<option value="0">{{ text_none }}</option>
										{% for tax_class in tax_classes %}
											{% if tax_class.tax_class_id == shipping_tk_transpress_tax_class_id %}
												<option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
											{% else %}
												<option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
 
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_sort_order">{{ entry_sort_order }}</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" id="shipping_tk_transpress_sort_order" name="shipping_tk_transpress_sort_order" value="{{ shipping_tk_transpress_sort_order }}"  />
								</div>
							</div>
						
							<input class="form-control" type="hidden" id="shipping_tk_transpress_client" name="shipping_tk_transpress_client" value="{{ shipping_tk_transpress_client }}"  />
							<input class="form-control" type="hidden" id="shipping_tk_transpress_password" name="shipping_tk_transpress_password" value="{{ shipping_tk_transpress_password }}"  />
							<input class="form-control" type="hidden" id="shipping_tk_transpress_logged" name="shipping_tk_transpress_logged" value="1"  />
						
						</div>
							
						<div class="tab-pane" id="tab-delivery">	
						
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_sender_type">Откъде се изпращат пратките</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_sender_type" name="shipping_tk_transpress_sender_type">
										<option value="shop" {% if shipping_tk_transpress_sender_type == 'shop' %}selected="selected"{% endif %}>От мой склад/магазин</option>
										<option value="office" {% if shipping_tk_transpress_sender_type == 'office' %}selected="selected"{% endif %}>От офис на Transpress</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_shop_address">Адреси на магазина</label>
								<div class="col-sm-9">
									<table id="table_shipping_tk_transpress_shop_address" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th></th>
												<th>Име</th>
												<th>Държава</th>
												<th>Населено място</th>
												<th>Пощенски код</th>
												<th>Адрес</th>
												<th>Телефон</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{% if shipping_tk_transpress_shop_address %}
											{% for key,address in shipping_tk_transpress_shop_address %}
											<tr>
												<td class="text-center"> 
													<input type="radio" class="form-control" name="shipping_tk_transpress_shop_address_default" value="{{ key }}" {% if shipping_tk_transpress_shop_address_default == key %}checked{% endif %}>
												</td>
												<td class="text-center">
													<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][shop_name]" value="{{ address.shop_name }}">
												</td>
												<td class="text-center">
													<select class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][country]">
														{% for country in countries %}
														<option value="{{ country.iso_code_2 }}" {% if address.country == country.iso_code_2 %}selected{% endif %}>{{ country.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td class="text-center">
													<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][city]" value="{{ address.city }}">
												</td>
												<td class="text-center">
													<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][post_code]" value="{{ address.post_code }}">
												</td>
												<td class="text-center">
													<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][address]" value="{{ address.address }}">
												</td>
												<td class="text-center">
													<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[{{ key }}][phone]" value="{{ address.phone }}">
												</td>
												<td>
													<span type="button" onclick="deleteRow(this);" class="btn btn-danger"><i class="fa fa-minus-circle"></i></span>
												</td>
											</tr>
											{% endfor %}
											{% endif %}
										</tbody>
										<tfoot>
											<tr>
												<td colspan="7"></td>
												<td>
													<span type="button" onclick="addRow(this);" class="btn btn-primary"><i class="fa fa-plus-circle"></i></span>
												</td>
											</tr>
										</tfoot>
									</table>
						
								</div>
							</div>
							
							<div class="form-group" style="display: none;">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_sender_office">Изберете офис</label>
								<div class="col-sm-9">
									<select class="form-control" name="shipping_tk_transpress_sender_office">
										{% for office in offices %}
										<option value="{{ office.value }}" {% if shipping_tk_transpress_sender_office == office.value %}selected{% endif %}>{{ office.name}}</option>
										{% endfor %}
									</select>
								
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_shipment_product_name">Името на продукта в описанието на пратката</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_shipment_product_name" name="shipping_tk_transpress_shipment_product_name">
										{% if shipping_tk_transpress_shipment_product_name %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_shipment_description">Описание на пратката</label>
								<div class="col-sm-9">
									<input type="text" name="shipping_tk_transpress_shipment_description" value="{{ shipping_tk_transpress_shipment_description }}" id="shipping_tk_transpress_shipment_description" class="form-control">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_weight_type">Мерна единица</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_weight_type" name="shipping_tk_transpress_weight_type">
										<option value="kilogram" {% if shipping_tk_transpress_weight_type == 'kilogram' %}selected="selected"{% endif %}>Килограм</option>
										<option value="gram" {% if shipping_tk_transpress_weight_type == 'gram' %}selected="selected"{% endif %}>Грам</option>
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_default_weight">Въведете тегло ако няма такова в количката</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" id="shipping_tk_transpress_default_weight" name="shipping_tk_transpress_default_weight" value="{{ shipping_tk_transpress_default_weight }}"  />
								</div>
							</div>
						
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_print_format">Формат на товарителниците</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_print_format" name="shipping_tk_transpress_print_format">
										<option value="pdf" {% if shipping_tk_transpress_print_format == 'pdf' %}selected="selected"{% endif %}>Манифестна разпечатка</option>
										<option value="pdf-label" {% if shipping_tk_transpress_print_format == 'pdf-label' %}selected="selected"{% endif %}>Отпечатване на етикети</option>
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_pd">Обратна разписка</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_pd" name="shipping_tk_transpress_pd">
										{% if shipping_tk_transpress_pd %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_rr">Обратен (клиентски) документ</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_rr" name="shipping_tk_transpress_rr">
										{% if shipping_tk_transpress_rr %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_pr">Връщане на опаковката</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_pr" name="shipping_tk_transpress_pr">
										{% if shipping_tk_transpress_pr %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_allowed_services">Разрешени сървизи</label>
								<div class="col-sm-9">        
									<select name="shipping_tk_transpress_allowed_services" id="shipping_tk_transpress_allowed_services" class="form-control">
										{% for service in services %}
										<option value="{{ service.value }}" {% if service.value == shipping_tk_transpress_allowed_services %} selected="selected"{% endif %}>{{ service.name }}</option> 
										{% endfor %}
									</select>
								</div>
							</div>
						
						</div>
						
						<div class="tab-pane" id="tab-price">
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_cd">Наложен платеж</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_cd" name="shipping_tk_transpress_cd">
										{% if shipping_tk_transpress_cd %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_calculate_enabled">Да се активира ли автоматичното ценообразуване</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_calculate_enabled" name="shipping_tk_transpress_calculate_enabled">
										{% if shipping_tk_transpress_calculate_enabled %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_postal_money_transfer">Пощенски паричен превод</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_postal_money_transfer" name="shipping_tk_transpress_postal_money_transfer">
										{% if shipping_tk_transpress_postal_money_transfer %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_shipping_in">Платец на куриерската услуга:</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_shipping_in" name="shipping_tk_transpress_shipping_in">
										{% if shipping_tk_transpress_shipping_in %}
										<option value="1" selected="selected">Получател</option>
										<option value="0">Подател</option>
										{% else %}
										<option value="1">Получател</option>
										<option value="0" selected="selected">Подател</option>
										{% endif %}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_fixed_price_urban_amount">Фиксирана цена за градски услуги</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" id="shipping_tk_transpress_fixed_price_urban_amount" name="shipping_tk_transpress_fixed_price_urban_amount" value="{{ shipping_tk_transpress_fixed_price_urban_amount }}"  />
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_fixed_price_interurban_amount">Фиксирана цена за междуградски услуги</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" id="shipping_tk_transpress_fixed_price_interurban_amount" name="shipping_tk_transpress_fixed_price_interurban_amount" value="{{ shipping_tk_transpress_fixed_price_interurban_amount }}"  />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_urban_free">Безплатна доставка за градски услуги</label>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-4">
											<input type="text" name="shipping_tk_transpress_urban_free" value="{{ shipping_tk_transpress_urban_free }}" id="shipping_tk_transpress_urban_free" class="form-control" />
										</div>
										<label class="col-sm-4 control-label" for="shipping_tk_transpress_urban_free_weight">Тегло - до</label>
										<div class="col-sm-4">
											<input type="text" name="shipping_tk_transpress_urban_free_weight" value="{{ shipping_tk_transpress_urban_free_weight }}"  id="shipping_tk_transpress_urban_free_weight" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_interurban_free">Безплатна доставка за междуградски услуги</label>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-4">
											<input type="text" name="shipping_tk_transpress_interurban_free" value="{{ shipping_tk_transpress_interurban_free }}" id="shipping_tk_transpress_interurban_free" class="form-control" />
										</div>
										<label class="col-sm-4 control-label" for="shipping_tk_transpress_interurban_free_weight">Тегло - до</label>
										<div class="col-sm-4">
											<input type="text" name="shipping_tk_transpress_interurban_free_weight" value="{{ shipping_tk_transpress_interurban_free_weight }}"  id="shipping_tk_transpress_interurban_free_weight" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label"><span data-toggle="tooltip" title="Избери списък със суми които да се пресмятат за сума която трябва да се достигне преди да се активира отстъпката.">Избери суми</span></label>
								<div class="col-sm-9">
									<div class="well well-sm" style="height: 180px; overflow: auto;" id="totals">
										{% for total in oc_totals %}
										<div class="checkbox col-sm-4"><label><input type="checkbox" name="shipping_tk_transpress_totals[]" value="{{ total.code }}" {% if total.code in shipping_tk_transpress_totals %}checked="checked"{% endif %} />{{ total.name }}</label></div>
										{% endfor %}
									</div>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_review_before_payment">Възможност за преглед преди плащане</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_review_before_payment" name="shipping_tk_transpress_review_before_payment">
										{% if shipping_tk_transpress_review_before_payment %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_test_before_payment">Възможност за тест преди плащане</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_test_before_payment" name="shipping_tk_transpress_test_before_payment">
										{% if shipping_tk_transpress_test_before_payment %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_package">Опаковка</label>
								<div class="col-sm-9">        
									<select name="shipping_tk_transpress_package" id="shipping_tk_transpress_package" class="form-control">
										{% for package in packages %}
										<option value="{{ package.value }}" {% if package.value == shipping_tk_transpress_package %} selected="selected"{% endif %}>{{ package.name }}</option> 
										{% endfor %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_fragile">Чупливо</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_fragile" name="shipping_tk_transpress_fragile">
										{% if shipping_tk_transpress_fragile %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_insurance">Застраховка</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_insurance" name="shipping_tk_transpress_insurance">
										{% if shipping_tk_transpress_insurance %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_declared">Деклариране на сумата на наложения платеж</label>
								<div class="col-sm-9">
									<select class="form-control" id="shipping_tk_transpress_declared" name="shipping_tk_transpress_declared">
										{% if shipping_tk_transpress_declared %}
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %}
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %}
									</select>
								</div>
							</div>
						
						</div>
							
						<div class="tab-pane" id="tab-status">
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="shipping_tk_transpress_order_status_id">Статус на поръчката след генериране на товарителница:</label>
								<div class="col-sm-9">
									<select name="shipping_tk_transpress_order_status_id" id="shipping_tk_transpress_order_status_id" class="form-control">
										<option value="0">Без смяна на статуса</option>
										{% for order_status in order_statuses %} 
								
										{% if (order_status['order_status_id'] == shipping_tk_transpress_order_status_id) %} 
										<option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
										{% else %} 
										<option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
										{% endif %} 
										{% endfor %} 
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-shipping_tk_transpress_order_status_id_mail">Да се пратили и-меил след генериране на товарителница:</label>
								<div class="col-sm-9">
									<select name="shipping_tk_transpress_order_status_id_mail" id="input-shipping_tk_transpress_order_status_id_mail" class="form-control">
										{% if  shipping_tk_transpress_order_status_id_mail %} 
										<option value="0">Не</option>
										<option value="1" selected="selected">Да</option>
										{% else %} 
										<option value="0" selected="selected">Не</option>
										<option value="1">Да</option>
										{% endif %} 
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-shipping_tk_transpress_order_status_id_mail_text">Текст към и-меила след генериране на товарителница<br> ({shipment_number} - заменя номера на товарителница в текста):</label>
								<div class="col-sm-9">
									<textarea name="shipping_tk_transpress_order_status_id_mail_text" rows="3" placeholder="Въведи текст" id="input-shipping_tk_transpress_order_status_id_mail_text" class="form-control">{{ shipping_tk_transpress_order_status_id_mail_text }}</textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-3 text-right"></div>
								<div class="col-sm-9">
									<br><br><h4><b>Синхронизиране на статуси между Транспрес и Opencart и изпращане на и-мейл до клиента</b></h4>
								</div>
							</div>

							{% for text_status in text_statuses %}
							<div class="form-group">
								<label class="col-sm-3 control-label">{{ text_status.name }}</label>
							
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-3">Избери статус за синхронизиране</div>
										<div class="col-sm-3">
											<select name="shipping_tk_transpress_order_status[{{ text_status.id }}]" id="input-shipping_tk_transpress_order_status" class="form-control">
												<option value="">Без смяна на статуса</option>
												{% for order_status in order_statuses %}
												{% if  shipping_tk_transpress_order_status[text_status.id] == order_status.order_status_id %} 
												<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
												{% else %} 
												<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
												{% endif %} 
												{% endfor %} 
											</select>
										</div>
										<div class="col-sm-3">Да се изпратили и-мейл до клиента</div>
										<div class="col-sm-3">
											<select name="shipping_tk_transpress_order_status_mail[{{ text_status.id }}]" id="input-shipping_tk_transpress_order_status_mail" class="form-control">
												{% if  shipping_tk_transpress_order_status_mail[text_status.id] %} 
												<option value="0">Не</option>
												<option value="1" selected="selected">Да</option>
												{% else %} 
												<option value="0" selected="selected">Не</option>
												<option value="1">Да</option>
												{% endif %} 
											</select>
										</div>
										<div class="clearfix"></div>
										<br>
									
										<div class="col-sm-3">Допълнителен текст към и-меила</div>
										<div class="col-sm-9">
											<textarea name="shipping_tk_transpress_order_status_mail_text[{{ text_status.id }}]" rows="3" placeholder="Въведи текст" id="input-shipping_tk_transpress_order_status_mail_text" class="form-control">{{ shipping_tk_transpress_order_status_mail_text[text_status.id] }}</textarea>
										</div>
									</div>
								</div>
							</div>
							{% endfor %} 
					
						</div>
						
						<div class="tab-pane" id="tab-price_weight">
						
							<table id="weight-value" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-left required">Килограми - От</td>
										<td class="text-left required">Килограми - До (включително)</td>
										<td class="text-left required">Твърда цена</td>
										<td class="text-left required">Вид доставка</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
              
									
									{% for weight_value in shipping_tk_transpress_weight_value %}
									<tr id="weight-value-row{{ weight_value_row }}">
										<td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[{{ weight_value_row }}][from]" value="{{ weight_value.from }}" class="form-control" /></td>
										<td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[{{ weight_value_row }}][to]" value="{{ weight_value.to }}" class="form-control" /></td>
										<td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[{{ weight_value_row }}][price]" value="{{ weight_value.price }}" class="form-control" /></td>
										<td class="text-right">
											<select class="form-control" name="shipping_tk_transpress_weight_value[{{ weight_value_row }}][type]">
												<option value="interurban" {% if  weight_value.type == 'interurban' %}selected="selected"{% endif %}>Междуградски</option>
												<option value="urban" {% if  weight_value.type == 'urban' %}selected="selected"{% endif %}>Градски</option>
											</select>
										</td>
										<td class="text-right"><button type="button" onclick="$('#weight-value-row{{ weight_value_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
									</tr>
									{% set weight_value_row = weight_value_row + 1 %}
									{% endfor %}
								</tbody>
              
								<tfoot>
									<tr>
										<td colspan="4"></td>
										<td class="text-right"><button type="button" onclick="addWeightValue();" data-toggle="tooltip" title="{{ button_weight_value_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
									</tr>
								</tfoot>
							</table>
						
						</div>
					</div>
				</form>
				
			</div>
		</div>
		{% else %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
			
				<form method="post" enctype="multipart/form-data" id="form-transpres" class="form-horizontal">
						
			
					<input class="form-control" type="hidden" id="shipping_tk_transpress_logged" name="shipping_tk_transpress_logged" value="1"  />
						
							
					<div class="form-group">
						<label class="col-sm-3 control-label" for="shipping_tk_transpress_client">Клиент</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="shipping_tk_transpress_client" name="shipping_tk_transpress_client" value="{{ shipping_tk_transpress_client }}"  />
						</div>
					</div>
							
					<div class="form-group">
						<label class="col-sm-3 control-label" for="shipping_tk_transpress_password">Парола</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="shipping_tk_transpress_password" name="shipping_tk_transpress_password" value="{{ shipping_tk_transpress_password }}"  />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<a id="login_button" onclick="buttonLogin();" class="btn btn-primary"><span id="login_text">Вход</span></a>
							<span id="login_error"></span>
						</div>
					</div>
				</form>

			</div>
		</div>
		{% endif %}
		{% else %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<h3>Трябва да активирате модула TK Checkout за да позлвате Доставка с Transpress</h3>			
			</div>

		</div>
		{% endif %}
		
	</div>
</div>




<script type="text/javascript">
	jQuery(document).ready(function($) {
		
			
			$('.datepicker').datetimepicker({
					'format': 'Y-m-d H:i',
					'closeOnDateSelect': true
				});
									
			function check_depencency_shipping_tk_transpress_shop_address() {
				var showField = true;          if ($('[name="shipping_tk_transpress_sender_type"]').val() !== 'shop') {
					showField = false;
				}
				if (showField) {
					$('[for="shipping_tk_transpress_shop_address"]').closest('div.form-group').show();
				} else {
					$('[for="shipping_tk_transpress_shop_address"]').closest('div.form-group').hide();
				}
			}
			check_depencency_shipping_tk_transpress_shop_address();
								
			$('[name="shipping_tk_transpress_sender_type"]').change(function() {
					check_depencency_shipping_tk_transpress_shop_address();
				});      
								
			function check_depencency_shipping_tk_transpress_sender_office() {
				var showField = true;          if ($('[name="shipping_tk_transpress_sender_type"]').val() !== 'office') {
					showField = false;
				}
				if (showField) {
					$('[for="shipping_tk_transpress_sender_office"]').closest('div.form-group').show();
				} else {
					$('[for="shipping_tk_transpress_sender_office"]').closest('div.form-group').hide();
				}
			}
			check_depencency_shipping_tk_transpress_sender_office();
								
			$('[name="shipping_tk_transpress_sender_type"]').change(function() {
					check_depencency_shipping_tk_transpress_sender_office();
				});
									
				
					
			function check_depencency_shipping_tk_transpress_insurance_amount() {
				var showField = true;          if ($('[name="shipping_tk_transpress_insurance"]').val() !== '1') {
					showField = false;
				}
				if (showField) {
					$('[for="shipping_tk_transpress_insurance_amount"]').closest('div.form-group').show();
				} else {
					$('[for="shipping_tk_transpress_insurance_amount"]').closest('div.form-group').hide();
				}
			}
								
			check_depencency_shipping_tk_transpress_insurance_amount();
								
			$('[name="shipping_tk_transpress_insurance"]').change(function() {
					check_depencency_shipping_tk_transpress_insurance_amount();
				});
		});

	function buttonLogin() {
		$('#loading').remove();
		$('#login_error').html('').removeClass("text-danger");
		$('#login_button').after('<span id="loading" class="attention" style="padding: 5px;">Моля, изчакайте.</span>');

		$.ajax({
				url: 'index.php?route=extension/shipping/tk_transpress/login&user_token={{ user_token }}',
				type: 'POST',
				data: 'client=' + encodeURIComponent($('#shipping_tk_transpress_client').val()) + '&password=' + encodeURIComponent($('#shipping_tk_transpress_password').val()),
				dataType: 'json',
				success: function(data) {
					if (data) {
						$('#loading').remove();

						if (data.success) {
							window.location = window.location;
						} else {
							$('#login_error').html(data.message).addClass('text-danger');
						} 
					} 
				} ,
				error: function(request) {
					$('#loading').remove();

					$('#login_error').html('{{ error_general }}').addClass("text-danger");
				} 
			});
	} 


	function buttonLogout() {
		if (confirm('{{ text_warning_logout }}')) {
			$.get('index.php?route=extension/shipping/tk_transpress/logout&user_token={{ user_token }}').done(function() {
					window.location = window.location;
				});
		} 
	} 
	
		
	var weight_value_row = {{ weight_value_row}};

	function addWeightValue() {
		html  = '<tr id="weight-value-row' + weight_value_row + '">';
		html += '  <td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[' + weight_value_row + '][from]" value="" placeholder="0.00" class="form-control" /></td>';
		html += '  <td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[' + weight_value_row + '][to]" value="" placeholder="0.00" class="form-control" /></td>';
		html += '  <td class="text-right"><input type="text" name="shipping_tk_transpress_weight_value[' + weight_value_row + '][price]" value="" placeholder="0.00" class="form-control" /></td>';
		html += '  <td class="text-right"><select class="form-control" name="shipping_tk_transpress_weight_value[' + weight_value_row + '][type]"><option value="interurban">Междуградски</option><option value="urban">Градски</option></select></td>';
		html += '  <td class="text-right"><button type="button" onclick="$(\'#weight-value-row' + weight_value_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
		html += '</tr>';

		$('#weight-value tbody').append(html);

		weight_value_row++;
	}
	

	function addRow(button, index) {
		var radio = jQuery(button).closest('table').find('tbody input[type=radio]:last');

		if (radio.length) {
			var index = radio.val();
			++index;
		} else {
			var index = 1;
		}
										
									
		var html ='<tr>';
		html +='<td class="text-center">';
		html +='<input type="radio" class="form-control" name="shipping_tk_transpress_shop_address_default" value="' + index + '">';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][shop_name]" value="">';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<select class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][country]">';
										
		{% for country in countries %}
		html += '<option value="{{ country.iso_code_2 }}">{{ country.name|escape('js') }}</option>';
		{% endfor %}
    
		html +='</select>';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][city]" value="">';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][post_code]" value="">';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][address]" value="">';
		html +='</td>';
		html +='<td class="text-center">';
		html +='<input type="text" class="form-control" name="shipping_tk_transpress_shop_address[' + index + '][phone]" value="">';
		html +='</td>';
		html +='<td>';
		html +='<span type="button" onclick="deleteRow(this);" class="btn btn-danger"><i class="fa fa-minus-circle"></i></span>';
		html +='</td>';
		html +='</tr>';

		jQuery(html).appendTo(jQuery(button).closest('table').find('tbody'));
	}
	function deleteRow(button) {
		jQuery(button).closest('tr').remove();
	}
</script>
{{ footer }}