{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-custom-field" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>Добавяне на данни - Спесификация</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid"> 
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Добавете файл и посочете колони за данни</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custom-field" class="form-horizontal">  
        <fieldset>
          <div class="row">        
            <div class="form-group required col-sm-4">
              <label class="col-sm-4 control-label">Баркод 1</label>
              <div class="col-sm-8"> 
                <div class="input-group">
                  <input type="text" name="data[barcode]" value="{{ barcode  }}" placeholder="Баркод 1" class="form-control" />
                  {% if error_barcode %}
                  <div class="text-danger">{{ error_barcode }}</div>
                  {% endif %}
                </div>                       
              </div>
            </div><!--1-->
            <div class="form-group col-sm-4">
              <label class="col-sm-4 control-label">От ред</label>
              <div class="col-sm-8"> 
                <div class="input-group">
                  <input type="text" name="data[from_row]" value="{{ from_row  }}" placeholder="От ред" class="form-control" />
                </div>                       
              </div>
            </div><!--1-->
            <div class="form-group col-sm-4">
              <label class="col-sm-4 control-label">До ред</label>
              <div class="col-sm-8"> 
                <div class="input-group">
                  <input type="text" name="data[to_row]" value="{{ to_row }}" placeholder="До ред" class="form-control" />
                </div>                       
              </div>
            </div><!--1-->
            <div class="form-group col-sm-4 required">
              <label class="col-sm-4 control-label">Спесификация /.pdf/</label>
              <div class="col-sm-8"> 
                <div class="input-group">
                  <input type="text" name="data[specif]" value="{{ specif  }}" placeholder="A" class="form-control" />
                  {% if error_specif %}
                  <div class="text-danger">{{ error_specif }}</div>
                  {% endif %}
                </div>                       
              </div>
            </div><!--1-->
            <div class="form-group required col-sm-4">
              <label class="col-sm-4 control-label">Файл с данни</label>
              <div class="col-sm-8"> 
                <div class="input-group">
                  <input type="file" name="data_file" class="form-control" />
                </div>                       
              </div>
            </div><!--1-->
           
         </fieldset>
        </form>
      </div>
    </div>
  </div>
  </div>
{{ footer }} 