<div id="tk_boxnow">
	<div class="tk_panel">
		<div class="tk_panel_heading">
			<span class="tk_panel_icon"><span class="tk_icon-address"></span></span> 
			<span class="tk_panel_text"> {{ text_title }}</span> 
			<span class="tk_all_spin"><i class="tk_icon-spin rotating"></i></span>
			
		</div>				
	
		<div class="tk_panel_body">
			<div class="tk_12_column tk_center_column">
				
				{% if boxnow_customer_lockers %}
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="boxnow_type" value="existing" checked="checked" {% if boxnow_type is defined and boxnow_type == 'existing' %}checked=""{% endif %}onclick="jQuery('#boxnow_type_new').hide();jQuery('#boxnow_type_existing').show();" />
						{{ text_address_existing }}
					</label>
				</div>
				<div id="boxnow_type_existing">
					<div class="tk_12_column tk_center_column">
						<select name="boxnow_customer_id">
							{% for boxnow_customer in boxnow_customer_lockers %}
								
							<option value="{{ boxnow_customer.boxnow_customer_id }}" {% if boxnow_customer_id and boxnow_customer.boxnow_customer_id == boxnow_customer_id %}selected="selected"{% endif %}>{{ boxnow_customer.locker_name }}</option>
								
							{% endfor %}
						</select>
					</div>
				</div>	 
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="boxnow_type" value="new" {% if boxnow_type is defined and boxnow_type == 'new' %}checked=""{% endif %}onclick="jQuery('#boxnow_type_new').show();jQuery('#boxnow_type_existing').hide();"/>
						{{ text_address_new }}
					</label>
				</div>
				
				{% else %} 
				<input type="hidden" name="boxnow_type" value="new">
				{% endif %}
				
				<div id="boxnow_type_new" {% if (not boxnow_customer_locker or (boxnow_type is defined and boxnow_type == 'new')) %} style="display:block"{% else %}style="display:none"{% endif %}>
					<div id="bownow_messages">
						{% if locker_address and locker_name %}
						<div class="alert alert-success tk_boxnow_success">
							{{ selected_boxnow }}: {{ locker_name }}
						</div>
						{% else %} 
						<div class="alert alert-info tk_boxnow_alert" style="margin-bottom:1rem;margin-top:1rem">
							{{ text_select_lockerid }}
						</div>
						{% endif %}
					</div>	
				
					{% if module_tk_checkout_zone is not defined or module_tk_checkout_zone == 0 %} 
					<input type="hidden" id="zone_id" name="zone_id" value="{{ zone_id }}" />
					{% endif %}
					<input name="locker_id" id="locker_id" type="hidden" value="{{ locker_id }}">
					<input name="locker_address" id="locker_address" type="hidden" value="{{ locker_address }}">
					<input name="locker_name" id="locker_name" type="hidden" value="{{ locker_name }}">

					<input type="hidden" id="shipping_type" name="shipping_type" value="boxnow" />
				
					<button type="button" class="tk_btn_clear tk_boxnow_select" id="tk_boxnow_select">{{ select_boxnow }}</button>

				</div>
				
				

			</div>	
		</div>	
	</div>	
</div>	

<div class="boxnow_container radio_container mfp-hide" id="boxnow_locator" style="min-height: 700px;">
	<div class="boxnow-iframe-window" id="boxnow-iframe-window" style="min-height: 600px;width:100%;margin-top: 15px">
		<div id="boxnowmap" style="width:100%; height:600px;"></div>
			
		<script>
		 
			var _bn_map_widget_config = {
				partnerId: '{{ partner_id }}',
				zip: '{% if shipping_address.postcode is defined %}{{ shipping_address.postcode }}{% else %}1000{% endif %}',
				autoshow: true,
				parentElement: "#boxnowmap",
				afterSelect: function(selected){
					if (selected.boxnowLockerId !== undefined) {
						$.ajax({
								type: "POST",
								url: "index.php?route=extension/shipping/tk_boxnow/set",
								data: {locker_id:selected.boxnowLockerId,locker_address:selected.boxnowLockerAddressLine1,locker_name:selected.boxnowLockerName},
								success: function(data){
							
									$('#locker_id').val(selected.boxnowLockerId);
									$('#locker_address').val(selected.boxnowLockerAddressLine1);
									$('#locker_name').val(selected.boxnowLockerName);
			
									$('#bownow_messages').html('<div class="alert alert-success">{{ selected_boxnow }}: '+selected.boxnowLockerName+'</div>');
									$('.tk_boxnow_alert').css('display','none');
									
									//$.magnificPopup.close();
								},
								error: function(xhr, status, error){
								}
							});
					}
				}
			};
			(function(d){var e = d.createElement("script");e.src = "{{ widget_url }}";e.async = true;e.defer = true;d.getElementsByTagName("head")[0].appendChild(e);})(document);

		</script>
	</div>
</div>

<script>
	$(document).on('click', '#tk_boxnow_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#boxnow_locator'} 
				});
		});
		
	$(document).ready(function() { 
			getPaymentMethod();
		});
</script>