<div id="tk_speedy_office">
	<div class="tk_panel">
		<div class="tk_panel_heading">
			<span class="tk_panel_icon"><span class="tk_icon-address"></span></span> 
			<span class="tk_panel_text"> {{ text_address }}</span> 
			<span class="tk_all_spin"><i class="tk_icon-spin rotating"></i></span>
		</div>				
	
		<div class="tk_panel_body">
			<div id="tk_speedy_offices">

				<input type="hidden" id="shipping_to" name="shipping_to" value="address" />
				<input type="hidden" id="shipping_type" name="shipping_type" value="speedy" />
				
				{% if module_tk_checkout_zone is not defined or module_tk_checkout_zone == 0 %} 
				<input type="hidden" id="zone_id" name="zone_id" value="{{ zone_id }}" />
				{% endif %} 

				{% if (speedy_addresses_customer) %} 
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="speedy_address_type" value="existing" checked="checked" {% if (speedy_address_type is defined and speedy_address_type == 'existing') %}checked=""{% endif %} onclick="jQuery('#speedy_address_new').hide();jQuery('#tk_speedy_address_existing').show();" />
						{{ text_address_existing }} 
					</label>
				</div>
				<div id="tk_speedy_address_existing">
					<div class="tk_12_column tk_center_column">
						<select name="speedy_address_customer_id" >
							{% for speedy_address in speedy_addresses_customer %} 
							
							<option value="{{ speedy_address['speedy_customer_id'] }}" {% if (speedy_address_customer_id is defined and speedy_address['speedy_customer_id'] == speedy_address_customer_id) %}selected="selected"{% endif %}>{{ speedy_address['city'] }}, {{ speedy_address['street'] }}, {{ speedy_address['street_num'] }}</option>
								
							{% endfor %} 
						</select>
					</div>
				</div>	 
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="speedy_address_type" value="new" {% if (speedy_address_type is defined and speedy_address_type == 'new') %}checked=""{% endif %} onclick="jQuery('#speedy_address_new').show();jQuery('#tk_speedy_address_existing').hide();" />
						{{ text_address_new }} 
					</label>
				</div>
					
				{% else %} 
				<input type="hidden" name="speedy_address_type" value="new">
				{% endif %} 
			
				<div id="speedy_address_new" {% if (not speedy_addresses_customer or (speedy_address_type is defined and speedy_address_type == 'new')) %} style="display:block"{% else %}style="display:none"{% endif %}>
							
					<input type="hidden" name="default" value="1" />
					<input type="hidden" id="speedy_address_postcode" name="speedy_address_postcode" value="{{ speedy_address_postcode }}" />
					<input type="hidden" id="speedy_address_city" name="speedy_address_city" value="{{ speedy_address_city }}" />
					<input type="hidden" id="speedy_address_city_id" name="speedy_address_city_id" value="{{ speedy_address_city_id }}" />
						
					{% if iso_code_2 is defined and iso_code_2 == 'BG' or iso_code_2 is not defined %} 
					<input type="hidden" id="speedy_quarter_id" name="speedy_quarter_id" value="{{ speedy_quarter_id }}" />
					<input type="hidden" id="speedy_quarter" name="speedy_quarter" value="{{ speedy_quarter }}" />
					{% endif %} 
						
					<input type="hidden" id="speedy_street_id" name="speedy_street_id" value="{{ speedy_street_id }}" />
					<input type="hidden" id="speedy_street" name="speedy_street" value="{{ speedy_street }}" />
						 
					<div class="tk_12_column tk_center_column tk_speedy_address_city_select tk_required_box {% if (speedy_address_city_id) %} tk_redy_box{% endif %}" id="tk_speedy_address_city_select">
						<input type="text" id="speedy_address_city_select" readonly="true" name="speedy_address_city_select" value="{% if (speedy_address_postcode) %}{{ speedy_address_postcode ~ ' ' ~ speedy_address_city }}{% endif %}" placeholder="{{ text_speedy_office_city }}" />
						<span class="tk_floating_label">{{text_speedy_office_city }}</span>
					</div>
							
					<div class="tk_clear"></div>
					
					{% if iso_code_2 is defined and iso_code_2 == 'BG' or iso_code_2 is not defined %} 
					
					
					<div class="tk_6_column tk_center_column tk_speedy_quarter_select {% if (((speedy_quarters|length) < 1 or speedy_quarter) and speedy_address_city) %} tk_redy_box{% endif %}" id="tk_speedy_quarter_select" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %} >
							
						<input type="text" id="speedy_quarter_select" readonly="true" name="speedy_quarter_select" value="{{ speedy_quarter }}" placeholder="{{entry_quarter }}" />
						<span class="tk_floating_label">{{entry_quarter }}</span>
	
					</div>
					
					<div class="tk_1_column tk_center_column " id="tk_speedy_block_no" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_block_no" name="speedy_block_no" value="{{ speedy_block_no }}" placeholder="{{entry_block_no }}" />
						<span class="tk_floating_label">{{entry_block_no }}</span>
					</div>
					
					<div class="tk_1_column tk_center_column " id="tk_speedy_entrance_no" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_entrance_no" name="speedy_entrance_no" value="{{ speedy_entrance_no }}" placeholder="{{entry_entrance_no }}" />
						<span class="tk_floating_label">{{entry_entrance_no }}</span>
					</div>
					
					<div class="tk_1_column tk_center_column " id="tk_speedy_floor_no" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_floor_no" name="speedy_floor_no" value="{{ speedy_floor_no }}" placeholder="{{entry_floor_no }}" />
						<span class="tk_floating_label">{{entry_floor_no }}</span>
					</div>
					
					<div class="tk_1_column tk_center_column " id="tk_speedy_apartment_no" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_apartment_no" name="speedy_apartment_no" value="{{ speedy_apartment_no }}" placeholder="{{entry_apartment_no }}" />
						<span class="tk_floating_label">{{entry_apartment_no }}</span>
					</div>
					{% endif %} 

					<div class="tk_clear"></div>
					
					{% if iso_code_2 is defined and iso_code_2 == 'GR' %} 
					<div class="tk_12_column tk_center_column tk_speedy_street_select {% if (((speedy_streets|length) < 1 or speedy_street) and speedy_address_city) %} tk_redy_box{% endif %}" id="tk_speedy_street_select">
						<input type="text" id="speedy_street_select" readonly="true" name="speedy_street_select" value="{{ speedy_street }}" placeholder="{{entry_street }}" />
						<span class="tk_floating_label">{{entry_street }}</span>
						
					</div>
					{% else %} 
					<div class="tk_8_column tk_center_column tk_speedy_street_select {% if (((speedy_streets|length) < 1 or speedy_street) and speedy_address_city) %} tk_redy_box{% endif %}" id="tk_speedy_street_select" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_street_select" readonly="true" name="speedy_street_select" value="{{ speedy_street }}" placeholder="{{entry_street }}" />
						<span class="tk_floating_label">{{entry_street }}</span>
						
					</div>
							
					<div class="tk_4_column tk_center_column " id="tk_speedy_street_num" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% endif %}>
						<input type="text" id="speedy_street_num" name="speedy_street_num" value="{{ speedy_street_num }}" placeholder="{{entry_street_num }}" />
						<span class="tk_floating_label">{{entry_street_num }}</span>
					</div>
					
							
					{% endif %} 
					
					<div class="tk_clear"></div>
							
					<div class="tk_12_column tk_center_column " id="tk_speedy_other">
						<input type="text" id="speedy_other" name="speedy_other" value="{{ speedy_other }}" placeholder="{{entry_other }}" />
						<span class="tk_floating_label">{{entry_other }}</span>
						
						<div id="tk_speedy_no_street" {% if speedy_street == 'Център' and speedy_address_city %}style="display:block"{% else %}style="display: none"{% endif %}><hr> <span class="tk_text_free_shipping">{{ text_no_street }}</span></div>
						<div id="tk_speedy_help_address" {% if speedy_street == 'Център' and speedy_address_city %}style="display:none"{% else %}style="display: block"{% endif %}><hr> <span class="tk_text_free_shipping">{{ text_help_address }}</span></div>

					</div>
	
				</div>

				<div class="tk_clear"></div>
				{% if (error_address) %} 
				<span class="tk_alert">{{ error_address }}</span>
				{% endif %} 
 	
			</div>	
			<div class="tk_clear"></div>
	
		</div> 
	</div>
</div>

<div class="speedy_city_container radio_container mfp-hide" id="speedy_city_locator">
	<div class="radio_search">
		<span class="speedy_city_spin pull-right magnific_spin"></span>
		<input id="speedy_city_search" name="speedy_city_search" type="text" placeholder="Търсене.." class="radio_box_search">
	</div>
	<div class="radio_box" id="speedy_city_locator_radio_box">
		<span class="radio_box_top"></span>
		<div class="radio_box_html"></div>
		<span class="last_element_city"></span>
	</div>
</div>

<div class="speedy_quarter_container radio_container mfp-hide" id="speedy_quarter_locator">
	<div class="radio_search">
		<input id="speedy_quarter_search" name="speedy_quarter_search" type="text" placeholder="Търсене.." class="radio_box_search">
	</div>
	<div class="radio_box" id="speedy_quarter_locator_radio_box">
		<span class="radio_box_top"></span>
		<div class="radio_box_html"></div>
		<span class="last_element_street"></span>
	</div>
</div>

<div class="speedy_street_container radio_container mfp-hide" id="speedy_street_locator">
	<div class="radio_search">
		<span class="speedy_street_spin pull-right magnific_spin"></span>
		<input id="speedy_street_search" name="speedy_street_search" type="text" placeholder="Търсене.." class=" radio_box_search">
	</div>
	<div class="radio_box" id="speedy_street_locator_radio_box">
		<span class="radio_box_top"></span>
		<div class="radio_box_html"></div>
		<span class="last_element_street"></span>
	</div>
</div>

<script>
	
	$(document).ready(function() { 
			getPaymentMethod();
		});
	
	$('#speedy_street_num').change(function() { saveData(); } );
	$('#speedy_block_no').change(function() { saveData(); } );
	$('#speedy_entrance_no').change(function() { saveData(); } );
	$('#speedy_floor_no').change(function() { saveData(); } );
	$('#speedy_apartment_no').change(function() { saveData(); } );
	$('#speedy_other').change(function() { saveData(); } );

	//попъп за градове
	$(document).on('click', '#speedy_address_city_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#speedy_city_locator'} 
				});
			$('.speedy_city_spin').html(' <i class="tk_icon-spin rotating"></i>');
			getCitiesHtml();
			setTimeout(function () { 
					$('#speedy_city_search').focus();
				} , 500);
 
		});

	//въвеждане на град ръчно
	$('#speedy_city_search').on('input',function(e) { 
			e.stopImmediatePropagation();
			getCitiesHtml();
		});


	//добавяне на слектирания град и извикваме квартали и улици спрямо него
	$(document).delegate('#speedy_city_locator .radio_box input[type=\'radio\']', 'click', function(e) { 
			e.stopImmediatePropagation();
			var speedy_address_city_id = $(this).val();
			var speedy_address_city = $(this).data('name');
			var speedy_address_city_select = $(this).data('select');
			$('#speedy_address_city_id').val(speedy_address_city_id);
			$('#speedy_address_city').val(speedy_address_city);
			$('#speedy_address_city_select').val(speedy_address_city_select);

			$('.tk_all_spin').html(' <i class="tk_icon-spin rotating"></i>');
			$('#tk_checkout').css('opacity','0.6');
			$('#tk_checkout').css('pointer-events','none');
			$('#tk_button_confirm').prop('disabled', true);
			$('.tk_speedy_address_city_select').addClass('tk_redy_box');

			getQuarterStreet();
			$.magnificPopup.close()
		});

	//попъп за квартали
	$(document).on('click', '#speedy_quarter_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#speedy_quarter_locator'} 
				});
			$('.speedy_quarter_spin').html(' <i class="tk_icon-spin rotating"></i>');
			getQuartersHtml();
			setTimeout(function () { 
					$('#speedy_quarter_search').focus();
				} , 500);
		});
	 
	//въвеждане на квартал ръчно
	$('#speedy_quarter_search').on('input',function(e) { 
			e.stopImmediatePropagation();
			getQuartersHtml();
		});


	//добавяне на селектирания кавартал
	$(document).delegate('#speedy_quarter_locator .radio_box input[type=\'radio\']', 'click', function(e) { 
			e.stopImmediatePropagation();
			var speedy_quarter_id = $(this).val();
			var speedy_quarter = $(this).data('name');
			var speedy_quarter_type = $(this).data('type');
			$('#speedy_quarter_id').val(speedy_quarter_id);
			$('#speedy_quarter').val(speedy_quarter);
			$('#speedy_quarter_select').val(speedy_quarter_type + speedy_quarter);

			$('.tk_speedy_quarter_select').addClass('tk_redy_box');
		
			saveData();

			$.magnificPopup.close()
		});

	//попъп за улици
	$(document).on('click', '#speedy_street_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#speedy_street_locator'} 
				});
			$('.speedy_street_spin').html(' <i class="tk_icon-spin rotating"></i>');
			getStreetsHtml();
			setTimeout(function () { 
					$('#speedy_street_search').focus();
				} , 500);
		});
 
	//въвеждане на улица ръчно
	$('#speedy_street_search').on('input',function(e) { 
			e.stopImmediatePropagation();
			getStreetsHtml();
		});


	//добавяне на селектираната улица
	$(document).delegate('#speedy_street_locator .radio_box input[type=\'radio\']', 'click', function(e) { 
			e.stopImmediatePropagation();
			var speedy_street_id = $(this).val();
			var speedy_street = $(this).data('name');
			var speedy_street_type = $(this).data('type');
			$('#speedy_street_id').val(speedy_street_id);
			$('#speedy_street').val(speedy_street_type + speedy_street);
			$('#speedy_street_select').val(speedy_street_type + speedy_street);

			$('.tk_speedy_street_select').addClass('tk_redy_box');
		
			saveData();
				 
			$.magnificPopup.close()
		});

	//извежда списъка с градове в попъпа - първите 10 се зареждат веднага останалите са аутокомплийт от АПИ на Спиди
	function getCitiesHtml() { 
		var url = 'index.php?route=extension/shipping/tk_speedy/autocompleteCity';
		var filter_name = $('input[name=\'speedy_city_search\']').val();

		if (filter_name) { 
			url += '&filter_name=' + encodeURIComponent(filter_name);
		} 

		$.ajax( { 
				url: url,
				beforeSend: function() { 
					$('.speedy_city_spin').html(' <i class="tk_icon-spin rotating"></i>');
				} ,
				success: function(data) { 
					$('.speedy_city_spin').html('');
	 				
					if (filter_name) { 
						$('#speedy_city_locator .radio_box_html').html('');
					} 

					html = '';
				
					if(data) { 
						$.map(data, function(item) { 
								html += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_city_id" value="' + item['city_id'] + '" data-name="' + item['name'] + '" data-select="' + item['post_code'] + ' ' + item['name'] + '"><span>' + item['post_code'] + '</span> ' + item['type'] + ' ' + item['name'] + '</label></div>';
							});
					} 
					
					$('#speedy_city_locator .radio_box_html').append(html);

				} 
			});
	 
	} 

	//извежда списъка с квартали в попъпа - първите 10 се зареждат веднага останалите са аутокомплийт от АПИ на Спиди
	function getQuartersHtml() { 
		$('#speedy_quarter_locator .radio_box_html').html('');
		var url = 'index.php?route=extension/shipping/tk_speedy/autocompleteQuarter';
		var filter_name = $('input[name=\'speedy_quarter_search\']').val();
		var city_id = $('#speedy_address_city_id').val();

		if (filter_name) { 
			url += '&filter_name=' + encodeURIComponent(filter_name);
		} 
		url += '&city_id=' + city_id;
		 
		$.ajax( { 
				url: url,
				beforeSend: function() { 
					$('.speedy_quarter_spin').html(' <i class="tk_icon-spin rotating"></i>');
				} ,
				success: function(data) { 
					$('.speedy_quarter_spin').html('');
	 				
					if (filter_name) { 
						$('#speedy_quarter_locator .radio_box_html').html('');
					} 

					html = '';
				
					if(data) { 
						$.map(data, function(item) { 
								html += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_quarter_id" value="' + item['quarter_id'] + '" data-name="' + item['name'] + '" data-type="' + item['type'] + '"><span>' + item['type'] + item['name'] + '</label></div>';
							});
					} 
					
					$('#speedy_quarter_locator .radio_box_html').append(html);
			
				} 
			});
	 
	} 
	 
	//извежда списъка с улици в попъпа - първите 10 се зареждат веднага останалите са аутокомплийт от АПИ на Спиди
	function getStreetsHtml() { 
		$('#speedy_street_locator .radio_box_html').html('');
		
		var url = 'index.php?route=extension/shipping/tk_speedy/autocompleteStreet';
		var filter_name = $('input[name=\'speedy_street_search\']').val();

		var city_id = $('#speedy_address_city_id').val();

		if (filter_name) { 
			url += '&filter_name=' + encodeURIComponent(filter_name);
		} 
		url += '&city_id=' + city_id;
		 
		$.ajax( { 
				url: url,
				beforeSend: function() { 
					$('.speedy_street_spin').html(' <i class="tk_icon-spin rotating"></i>');
				} ,
				success: function(data) { 
					$('.speedy_street_spin').html('');
	 				
					if (filter_name) { 
						$('#speedy_street_locator .radio_box_html').html('');
					} 

					html = '';
				
					if(data) { 
						$.map(data, function(item) { 
								html += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_street_id" value="' + item['street_id'] + '" data-name="' + item['name'] + '" data-type="' + item['type'] + '" ><span>' + item['type'] + item['name'] + '</label></div>';
							});
					} 
					
					$('#speedy_street_locator .radio_box_html').append(html);

				} 
			});
	 
	} 


	//извежда кварталите и улиците спрямо избрания град	
	//извиква призчислени методи за доставка => извежда преизчислени тотали в количката
	//ако имаме само 1 улица или 1 квартал ги селектираме
	//ако няма улици или квартали ги изключваме	
	function getQuarterStreet() { 
		$('#speedy_city_locator .radio_box_html').html('');
		$('#speedy_quarter_id').val('');
		$('#speedy_quarter').val('');
		$('#speedy_quarter_select').val('');
		$('#speedy_street_id').val('');
		$('#speedy_street').val('');
		$('#speedy_street_select').val('');
		$('#speedy_street_num').val('');
		$('#speedy_block_no').val('');
		$('#speedy_other').val('');
		$('#speedy_address_postcode').val('');

		$('.tk_speedy_quarter_select').removeClass('tk_redy_box');
		$('.tk_speedy_street_select').removeClass('tk_redy_box');
		$('#tk_speedy_street_num').removeClass('tk_redy_box');
		
		city_id = $('#speedy_address_city_id').val();

		
		if(city_id > 0) { 
			$.ajax( { 
					url: 'index.php?route=extension/shipping/tk_speedy/getQuartereStreet',
					type: 'POST',
					data: 'city_id=' + encodeURIComponent(city_id),
					dataType: 'json',
					success: function(data) { 
						if (data) { 
							$('#speedy_street_select').prop("disabled", false);
							$('#speedy_quarter_select').prop("disabled", false);
							$('#speedy_street_num').prop("disabled", false);
						
							$('#speedy_address_postcode').val(data.city_post_code);

							//скрипт за квартали
							if (data.quarters_count && data.quarters_count > 0) { 
								$('#speedy_quarter_id').prop("disabled", false);
								 	
								html_popup = '';
								for (i = 0; i < data.quarters.length; i++) { 
										
									{% if (speedy_quarter_id is defined and speedy_quarter_id) %} 
									var quarter_id = {{ speedy_quarter_id}};
									{% else %} 
									var quarter_id = 0;
									{% endif %} 
										
									if(quarter_id == data.quarters[i]['quarter_id']) { 
										var quarter_checked = 'checked=""';
									} else { 
										var quarter_checked = '';
									} 

									html_popup += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_quarter_id" value="' + data.quarters[i]['quarter_id'] + '" ' + quarter_checked + '>' + data.quarters[i]['type'] + ' ' + data.quarters[i]['name'] + '</label></div>';
								} 
									
								$('#speedy_quarter_locator .radio_box_html').html(html_popup);

								 
							} else { 
								$('#speedy_quarter_id').val('');
								$('#speedy_quarter').val('');
								$('#speedy_quarter_select').val('');
								$('#speedy_quarter_select').prop("disabled", true);
								$('.tk_speedy_quarter_select').addClass('tk_redy_box');
							} 
							
							//скрипт за улици
							if (data.streets_count && data.streets_count > 0) { 
								$('#speedy_street_id').prop("disabled", false);
								
								$('#tk_speedy_quarter_select').css('display','block');
								$('#tk_speedy_block_no').css('display','block');
								$('#tk_speedy_entrance_no').css('display','block');
								$('#tk_speedy_floor_no').css('display','block');
								$('#tk_speedy_apartment_no').css('display','block');
								$('#tk_speedy_street_select').css('display','block');
								$('#tk_speedy_street_num').css('display','block');
									
								$('#tk_speedy_no_street').css('display','none');
								$('#tk_speedy_help_address').css('display','block');

								
								//ако има повече от 1 улици извежда слектор ако е 1 я селектираме, ако няма изключваме полето
								if(data.streets_count > 1) { 

									html_popup = '';
									for (i = 0; i < data.streets.length; i++) { 
										
										{% if (speedy_street_id is defined and speedy_street_id) %} 
										var street_id = {{ speedy_street_id}};
										{% else %} 
										var street_id = 0;
										{% endif %} 
										
										if(street_id == data.streets[i]['street_id']) { 
											var street_checked = 'checked=""';
										} else { 
											var street_checked = '';
										} 

										html_popup += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_street_id" value="' + data.streets[i]['street_id'] + '" ' + street_checked + '>' + data.streets[i]['type'] + ' ' + data.streets[i]['name'] + '</label></div>';
									} 
									
									$('#speedy_street_locator .radio_box_html').html(html_popup);
	 							
	 							
								} else { 
									for (i = 0; i < data.streets.length; i++) { 
										var speedy_street_id = data.streets[i]['street_id'];
										var speedy_street = data.streets[i]['name'];
										var speedy_type = data.streets[i]['type'] + ' ';
									} 
									 
									$('#speedy_street_id').val(speedy_street_id);
									$('#speedy_street').val(speedy_type + speedy_street);
									$('#speedy_street_select').val(speedy_street);
									$('#speedy_street_select').prop("disabled", true);
									$('.tk_speedy_street_select').addClass('tk_redy_box');
									
									$('#speedy_street_num').val('1');
									$('#tk_speedy_street_num').addClass('tk_redy_box');
								 
									$('input#street_num').val('1');
									$('input#other').val('Център');
									
									$('#tk_speedy_quarter_select').css('display','none');
									$('#tk_speedy_block_no').css('display','none');
									$('#tk_speedy_entrance_no').css('display','none');
									$('#tk_speedy_floor_no').css('display','none');
									$('#tk_speedy_apartment_no').css('display','none');
									$('#tk_speedy_street_select').css('display','none');
									$('#tk_speedy_street_num').css('display','none');
									
									$('#tk_speedy_no_street').css('display','block');
									$('#tk_speedy_help_address').css('display','none');
									
								} 

							} else { 
								$('#speedy_street_id').val('');
								$('#speedy_street').val('Център');
								$('#speedy_street_select').val('Център');
								$('#speedy_street_select').prop("disabled", true);
								$('.tk_speedy_street_select').addClass('tk_redy_box');
								
								$('#speedy_street_num').val('1');
								$('#speedy_street_num').prop("disabled", true);
								$('#tk_speedy_street_num').addClass('tk_redy_box');
								
								$('#speedy_street_id').prop("disabled", true);
								$('.tk_speedy_street_id').addClass('tk_redy_box');
								
								$('input#street_num').val('');
								$('input#block_no').val('');
								$('input#other').val('');
								
								$('#tk_speedy_quarter_select').css('display','none');
								$('#tk_speedy_block_no').css('display','none');
								$('#tk_speedy_entrance_no').css('display','none');
								$('#tk_speedy_floor_no').css('display','none');
								$('#tk_speedy_apartment_no').css('display','none');
								$('#tk_speedy_street_select').css('display','none');
								$('#tk_speedy_street_num').css('display','none');
									
								$('#tk_speedy_no_street').css('display','block');
								$('#tk_speedy_help_address').css('display','none');
								
							} 
						} 
					 
						getShippingMethodAddress();
					} 
				});
		} 
	} 

	//--></script>
	 
