<div id="tk_speedy_office">
	<div class="tk_panel">
		<div class="tk_panel_heading">
			<span class="tk_panel_icon"><span class="tk_icon-address"></span></span> 
			<span class="tk_panel_text"> {{ text_speedy_office_title }}</span> 
			<span class="tk_all_spin"><i class="tk_icon-spin rotating"></i></span>
		</div>				
	
		<div class="tk_panel_body">
			<div id="tk_speedy_offices">

				<input type="hidden" id="shipping_to" name="shipping_to" value="office" />
				<input type="hidden" id="shipping_type" name="shipping_type" value="speedy" />
				
				{% if module_tk_checkout_zone is not defined or module_tk_checkout_zone == 0 %} 
				<input type="hidden" id="zone_id" name="zone_id" value="{{ zone_id }}" />
				{% endif %} 

				{% if (speedy_offices_customer) %} 
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="speedy_office_type" value="existing" checked="checked" {% if (speedy_office_type is defined and speedy_office_type == 'existing') %}checked=""{% endif %} onclick="jQuery('#speedy_office_new').hide();jQuery('#tk_speedy_office_existing').show();" />
						{{ text_address_existing }} 
					</label>
				</div>
				<div id="tk_speedy_office_existing">
					<div class="tk_12_column tk_center_column">
						<select name="speedy_office_customer_id">
							{% for speedy_office_customer in speedy_offices_customer %} 
								
							<option value="{{ speedy_office_customer['speedy_customer_id'] }}" {% if (speedy_office_customer_id is defined and speedy_office_customer['speedy_customer_id'] == speedy_office_customer_id) %}selected="selected"{% endif %}>{{ speedy_office_customer['office_name'] }}</option>
								
							{% endfor %} 
						</select>
					</div>
				</div>	 
				<div class="tk_12_column tk_center_column">
					<label>
						<input type="radio" name="speedy_office_type" value="new" {% if (speedy_office_type is defined and speedy_office_type == 'new') %}checked=""{% endif %} onclick="jQuery('#speedy_office_new').show();jQuery('#tk_speedy_office_existing').hide();"/>
						{{ text_address_new }} 
					</label>
				</div>
				
				{% else %} 
				<input type="hidden" name="speedy_office_type" value="new">
				{% endif %} 

				<div id="speedy_office_new" {% if (not speedy_offices_customer or (speedy_office_type is defined and speedy_office_type == 'new')) %} style="display:block"{% else %}style="display:none"{% endif %}>
				
					<div class="tk_6_column tk_center_column tk_speedy_office_city_select tk_required_box {% if (speedy_office_city) %} tk_redy_box{% endif %}" id="tk_speedy_office_city_select">
					
						<input type="text" id="speedy_office_city_select" readonly="true" name="speedy_office_city_select" value="{{ speedy_office_city }}" placeholder="{{ text_speedy_office_city }}" />
						<span class="tk_floating_label">{{text_speedy_office_city }}</span>
					</div>

					<div class="tk_6_column tk_center_column tk_speedy_office_select tk_required_box {% if (((speedy_offices|length) < 1 or speedy_office_id) and speedy_office_city_id) %} tk_redy_box{% endif %}" id="tk_speedy_office_id">
						<input type="text" id="speedy_office_select" readonly="true" name="speedy_office_select" value="{% if (speedy_office_id) %}{{ speedy_office_id ~ ' ' ~ speedy_office_name }}{% endif %}" placeholder="{{ text_speedy_office_title }}" {% if (not speedy_office_city_id) %}disabled=""{% endif %} />
						<span class="tk_floating_label">{{text_speedy_office_title }}</span>
					</div>
					<div class="tk_clear"></div>
					<div class="tk_12_column tk_center_column ">
						<input type="hidden" id="speedy_office_name" name="speedy_office_name" value="{{ speedy_office_name }}" />
						<input type="hidden" id="speedy_office_address" name="speedy_office_address" value="{{ speedy_office_address }}" />
						<input type="hidden" id="speedy_office_city" name="speedy_office_city" value="{{ speedy_office_city }}">
						<input type="hidden" id="speedy_office_postcode" name="speedy_office_postcode" value="{{ speedy_office_postcode }}" />
						<input type="hidden" id="speedy_office_city_id" name="speedy_office_city_id" value="{{ speedy_office_city_id }}">
						<input type="hidden" id="speedy_office_id" name="speedy_office_id" value="{{ speedy_office_id }}">
					</div>
				</div>
				<div class="tk_clear"></div>		
			</div>	
		</div>	
	</div>	
</div>

<div class="speedy_office_city_container radio_container mfp-hide" id="speedy_office_city_locator">
	<div class="radio_search">
		<input id="speedy_office_city_search" name="speedy_office_city_search" type="text" placeholder="Търсене.." class="radio_box_search">
	</div>
	<div class="radio_box">
		{% for speedy_city in speedy_cities %} 
		<div class="radio_elements">
			<label>
				<input type="radio" name="tk_speedy_office_city_id" value="{{ speedy_city['city_id'] }}" {% if (speedy_office_city_id is defined and speedy_city['city_id'] == speedy_office_city_id) %}checked=""{% endif %} data-name="{{ speedy_city['name'] }}">{{ speedy_city['name'] }} 
			</label>
		</div>
		{% endfor %} 
	</div>
</div>

<div class="speedy_office_container radio_container mfp-hide" id="speedy_office_id_locator">
	<div class="radio_search">
		<input id="speedy_office_search" name="speedy_office_search" type="text" placeholder="Търсене.." class="radio_box_search">
	</div>
	<div class="radio_box">
		{% for office in speedy_offices %} 
		<div class="radio_elements">
			<label>
				<input type="radio" name="tk_speedy_office_id" value="{{ office['office_id'] }}" {% if (speedy_office_id is defined and office['office_id'] == speedy_office_id) %}checked=""{% endif %} data-name="{{ office['office_id'] }} {{ office['name'] }}">
				<span>{{ office['office_id'] }}</span> <strong>{{ office['name'] }}</strong> <br> <i>{{ office['address'] }}</i>
			</label>
		</div>
		{% endfor %} 
	</div>
</div>

<script>
	
	$(document).ready(function() { 
			getPaymentMethod();
	});

	//попъп за градове
	$(document).on('click', '#speedy_office_city_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#speedy_office_city_locator'} 
				});
			setTimeout(function () { 
					$('#speedy_office_city_search').focus();
				} , 500);
		});
	 
	//въвеждане на град ръчно
	$("#speedy_office_city_search").on("keyup", function(e) { 
			e.stopImmediatePropagation();
			var value = $(this).val().toLowerCase();
			var bg_value = transliterate(value);
			var en_value = transliterateEN(value);
			$("#speedy_office_city_locator .radio_box .radio_elements").filter(function() { 
					$(this).toggle(($(this).text().toLowerCase().indexOf(value) > -1 || $(this).text().toLowerCase().indexOf(bg_value) > -1 || $(this).text().toLowerCase().indexOf(en_value) > -1));
				});
		});

	//добавяне на селектирания град и извеждаме офисите спрямо него
	$(document).delegate('#speedy_office_city_locator .radio_box input[type=\'radio\']', 'click', function(e) { 
			e.stopImmediatePropagation();
			var speedy_office_city_id = $(this).val();
			var speedy_office_city = $(this).data('name');
			$('#speedy_office_city_id').val(speedy_office_city_id);
			$('#speedy_office_city').val(speedy_office_city);
			$('#speedy_office_city_select').val(speedy_office_city);
		
			$('.tk_all_spin').html(' <i class="tk_icon-spin rotating"></i>');
			$('#tk_checkout').css('opacity','0.6');
			$('#tk_checkout').css('pointer-events','none');
			$('#tk_button_confirm').prop('disabled', true);

			getOfficesByCityId();

			$.magnificPopup.close()

		});

	//попъп за офиси
	$(document).on('click', '#speedy_office_select', function(e) { 
			e.stopImmediatePropagation();
			$.magnificPopup.open( { 
					type: 'inline',
					items: { src: '#speedy_office_id_locator'} 
 
				});

			setTimeout(function () { 
					$('#speedy_office_search').focus();
				} , 500);
		});
	 
	//въвеждане на офис ръчно
	$("#speedy_office_search").on("keyup", function(e) { 
			e.stopImmediatePropagation();
			var value = $(this).val().toLowerCase();
			var bg_value = transliterate(value);
			var en_value = transliterateEN(value);
			$("#speedy_office_id_locator .radio_box .radio_elements").filter(function() { 
					$(this).toggle(($(this).text().toLowerCase().indexOf(value) > -1 || $(this).text().toLowerCase().indexOf(bg_value) > -1 || $(this).text().toLowerCase().indexOf(en_value) > -1));
				});
		});

	//добавяне на селектирания офис и извеждаме данните за него
	$(document).delegate('#speedy_office_id_locator .radio_box input[type=\'radio\']', 'click', function(e) { 
			e.stopImmediatePropagation();
			var speedy_office_id = $(this).val();
			var speedy_office_name = $(this).data('name');
			$('#speedy_office_id').val(speedy_office_id);
			$('#speedy_office_name').val(speedy_office_name);
			$('#speedy_office_select').val(speedy_office_name);
	
			getOffice();

			$.magnificPopup.close()

		});
	 

	//извежда офисите спрямо града и извиква призчислени методи за доставка => извежда преизчислени тотали в количката
	//извиква данните за офиса ако е само 1
	function getOfficesByCityId() { 
		$('.tk_speedy_office_select').removeClass('tk_redy_box');
		
		$('#speedy_office_id').val('');
		$('#speedy_office_name').val('');
		$('#speedy_office_select').val('');
		$('#speedy_office_address').val('');
		$('#speedy_office_city').val('');
		$('#speedy_office_city_select').val('');
		$('#speedy_office_postcode').val('');

		office_city_id = $('#speedy_office_city_id').val();

		$.ajax( { 
				url: 'index.php?route=extension/shipping/tk_speedy/getOfficesByCityId',
				type: 'POST',
				data: 'city_id=' + encodeURIComponent(office_city_id),
				dataType: 'json',
				success: function(data) { 
					if (data) { 

						$('#speedy_office_city').val(data.office_city);
						$('#speedy_office_city_select').val(data.office_city);
						$('#speedy_office_select').prop("disabled", false);
						
						//ако има повече от 1 офис изкаравме селектор, ако не слектираме автоматично
						if(data.offices_count > 1) { 
							html_popup = '';
								
							{% if (speedy_office_id) %} 
								var office_id = {{ speedy_office_id }};
							{% else %} 
								var office_id = 0;
							{% endif %} 
							
							for (i = 0; i < data.offices.length; i++) { 
								if(office_id == data.offices[i]['office_id']) { 
									var office_checked = 'checked=""';
								 } else { 
									var office_checked = '';
								 } 
									 
								html_popup += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_office_id" value="' + data.offices[i]['office_id'] + '" ' + office_checked + ' data-name="' + data.offices[i]['office_id'] + ' ' + data.offices[i]['name'] + '" ><span>' + data.offices[i]['office_id'] + '</span> <strong>' + data.offices[i]['name'] + '</strong><br> <i>' + data.offices[i]['address'] + '</i></label></div>';
								
							 } 
						
							$('.tk_speedy_office_city_id').addClass('tk_redy_box');
							
							$('#speedy_office_id_locator .radio_box').html(html_popup);
							$('#speedy_office_select').val('{{ text_speedy_office_title }}');
		

						 } else { 
							html_popup = '';
								
							for (i = 0; i < 1; i++) { 
								html_popup += '<div class="radio_elements"><label><input type="radio" name="tk_speedy_office_id" value="' + data.offices[i]['office_id'] + '" checked="" data-name="' + data.offices[i]['office_id'] + ' ' + data.offices[i]['name'] + '"><span>' + data.offices[i]['office_id'] + '</span> <strong>' + data.offices[i]['name'] + '</strong><br> <i>' + data.offices[i]['address'] + '</i></label></div>';
									
								speedy_office_id = data.offices[i]['office_id'];
								speedy_office_name = data.offices[i]['office_id'] + ' ' + data.offices[i]['name'];
							 } 
							 
							$('.tk_speedy_office_select').addClass('tk_redy_box');
							$('.tk_speedy_office_city_select').addClass('tk_redy_box');
								
							$('#speedy_office_id_locator .radio_box').html(html_popup);
							$('#speedy_office_id').val(speedy_office_id);
							$('#speedy_office_name').val(speedy_office_name);
							$('#speedy_office_select').val(speedy_office_name);
	
							getOffice();
						} 	
					} 
					
					getShippingMethodAddress();
				 } 
			 } );
	 } 
	
	//извиква данните за офиса
	function getOffice() { 

		office_id = $('#speedy_office_id').val();

		$.ajax( { 
				url: 'index.php?route=extension/shipping/tk_speedy/getOffice',
				type: 'POST',
				data: 'office_id=' + encodeURIComponent(office_id),
				dataType: 'json',
				success: function(data) { 
		
					if (data && data.name) { 
						$('#speedy_office_name').val(data.name);
						$('#speedy_office_select').val(data.office_id + ' ' + data.name);
						$('#speedy_office_address').val(data.address);
						$('#speedy_office_city').val(data.office_city);
						$('#speedy_office_city_select').val(data.office_city);
						
						$('#speedy_office_postcode').val(data.post_code);
						$('.tk_speedy_office_select').addClass('tk_redy_box');
						
						} 
					
					saveData();
				} 
			 } );
	 } 
	
	//транслитерация за търсачката
	function transliterate(word) { 
		return word.split('').map(function (char) { 
				return Lat2Cyr[char] || char; 
			 } ).join("");
	 } 

	Lat2Cyr= { "a":"а","b":"б","c":"ц","d":"д","e":"е","f":"ф","g":"г","h":"х","i":"и","j":"ј","k":"к","l":"л","m":"м","n":"н","o":"о","p":"п","q":"","r":"р","s":"с","t":"т","u":"у","v":"в","w":"","x":"","y":"","z":"з","A":"А","B":"Б","C":"Ц","D":"Д","E":"Е","F":"Ф","G":"Г","H":"Х","I":"И","J":"Ј","K":"К","L":"Л","M":"М","N":"Н","O":"О","P":"П","Q":"","R":"Р","S":"С","T":"Т","U":"У","V":"В","W":"","X":"","Y":"","Z":"З","č":"ч","ć":"ћ","đ":"ђ","ž":"ж","š":"ш","Č":"Ч","Ć":"Ћ","Đ":"Ђ","Ž":"Ж","Š":"Ш" } ;
	
	//транслитерация за търсачката
	function transliterateEN(word) { 
		return word.split('').map(function (char) { 
				return getKeyByValue(Lat2Cyr,char) || char; 
			 } ).join("");
	 } 
	 
	function getKeyByValue(object, value) {
	  	return Object.keys(object).find(key => object[key] === value);
	}

</script>